.Services {
  margin: 0 10%;
  display: flex;

  flex-direction: column;
  align-items: center;
}

.title {
  font-size: 52px;
}

.Services li {
  list-style-type: none;
}

.serviceCardContainer {
  display: flex;
  gap: 1em;
}
