@import "../../variables.css";

.About {
  display: flex;
  flex-direction: row;
  padding: 10% 10%;
  gap: 114px;
}

.About img {
  width: 656px;
  height: 430px;
}

.titleContainer {
  margin-bottom: 1.25em;
  display: flex;
  flex-direction: row;
  gap: 2em;
}

.title {
  font-size: 52px;
  align-content: center;
  justify-content: center;
}

.blueRectangle {
  background-color: var(--color-secondary);
  width: 0.6em;
  height: 6em;
  border-radius: 10px;
}

@media screen and (max-width: 830px) {
  .About {
    flex-direction: column;
  }

  .About img {
    display: none;
  }
}
