@import "../../variables.css";

.Header {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
  padding: 0 10%;
  width: 100%;
  background-color: var(--color-background);
}

img {
  width: 214px;
}

.menuItems {
  display: flex;
  margin-bottom: 0px;
  gap: 42px;
  list-style: none;
  align-items: center;
}

.menuItems a {
  text-decoration: none;
  color: black;
}

@media screen and (max-width: 830px) {
  .Header {
    flex-direction: column;
    gap: 2em;
    padding-bottom: 1.5em;
  }

  .headerBookingButton {
    display: none;
  }
}
